body {
	background: #e7dfd8;
}

.container {
	width: 1350px;
	height: 640px;
	margin: auto;
}

.navbar {
	width: 1200px;
	height: 100px;
	margin: auto;
}

.navbar ul li {
	display: inline-block;
	margin-top: 10px;
	margin-right: 105px;
	margin-left: 105px;
	font-family: mv boli;
	font-size: 19px;
	font-weight: bold;
}

.navbar a {
	text-decoration: none;
	color: #231f20;
	padding: 3px 7px 3px 7px;
}

.navbar a:hover {
	background-color: #231f20;
	color: #e7dfd8;
}

.content {
	width: 1200px;
	height: 520px;
	border: 1px solid #231f20;
	margin: auto;
	margin-top: 30px;
}

.header .hello {
	font-size: 47px;
	color: #231f20;
	font-family: mv boli;
	margin-left: 18%;
	margin-right: 18%;
	margin-top: 12%;

}

img {
	height: 100px;
	margin-left: 45%;
	margin-top: 5pnavbarx;
}

